{% extends "base.html" %}

{% block contenido %}

<h2>Emitir informe de: </h2>
<hr>

<div class="d-flex gap-2 flex-wrap">
    <a class="btn btn-primary btn-responsive" href="{{ url_for('informe.ventasDelDia') }}">Ventas diarias</a>
    <a class="btn btn-primary btn-responsive" href="{{ url_for('informe.productosMasVendidos') }}">Productos mas vendidos</a>
    <a class="btn btn-primary btn-responsive" href="{{ url_for('informe.clientesConDeudas') }}">Clientes con deudas</a>
</div>

{% endblock %}
