{% extends "base.html" %}

{% block contenido %}

<h1>
    {% if producto %}
        Editar producto
    {% else %}
        Crear producto
    {% endif %}
</h1>

<form method="POST">

    <input type="text" name="nombre" class="form-control"
           placeholder="Nombre"
           value="{{ producto.nombre if producto else '' }}" required>
    
    <br>

    <input type="number" step="0.01" name="precio" class="form-control"
           placeholder="Precio"
           value="{{ producto.precio if producto else '' }}" required>
    
    <br>

    <input type="number" name="stock" class="form-control"
           placeholder="Stock"
           value="{{ producto.stock if producto else '' }}" required>
    
    <br>

    <button class="btn btn-primary btn-responsive" type="submit">
        {% if producto %}
            Actualizar
        {% else %}
            Guardar
        {% endif %}
    </button>

</form>

<br>

<a class="btn btn-secondary btn-responsive" href="/productos">Volver</a>

{% endblock %}