{% extends "base.html" %}

{% block contenido %}

<h1>Ventas</h1>

<a class="btn btn-primary btn-responsive" href="/ventas/crear">Nueva venta</a>

<hr>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Tipo de Pago</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>

        {% for v in ventas %}
        <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.fecha.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>
                {% if v.tipo_pago == "efectivo" %}

                <span class="badge bg-success">
                    Efectivo
                </span>

                {% else %}

                    <span class="badge bg-warning text-dark">
                        Fiado
                    </span>

                {% endif %}
            </td>

            <td>
                {% if v.cliente %}
                    {{ v.cliente.nombre }}
                {% else %}
                    Venta ocasional
                {% endif %}
            </td>

            <td>{{ v.total }}</td>

            <td>
                <a class="btn btn-primary btn-responsive" href="/ventas/{{ v.id }}">Ver detalle</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<a class="btn btn-secondary btn-responsive" href="/">Volver</a>

{% endblock %}