{% extends "base.html" %}

{% block contenido %}

<h1>Registrar Pago</h1>

<form method="POST">

    <label class="form-label">Cliente:</label>
    <select class="form-select" name="cliente_id" required>
        <option value="">Seleccionar cliente</option>

        {% for c in clientes %}
            <option value="{{ c.id }}">
                {{ c.nombre }}
            </option>
        {% endfor %}
    </select>

<br>

    <label class="form-label">Monto:</label>
    <input type="number"
           name="monto"
           class="form-control"
           step="0.01"
           min="0"
           required>

    <br>

    <button class="btn btn-primary" type="submit">
        Guardar Pago
    </button>

</form>

<br>

<a class="btn btn-primary" href="/pagos">Ver pagos</a>

{% endblock %}