{% extends "base.html" %}

{% block contenido %}

<h1>Detalle Cliente</h1>

<hr>

<h2>{{ cliente.nombre }}</h2>

<p>
    <strong>Teléfono:</strong>
    {{ cliente.telefono }}
</p>

<hr>

<h3>Estado de Cuenta</h3>

<p>
    <strong>Total ventas fiadas:</strong>
    $ {{ monto_ventas_fiadas }}
</p>

<p>
    <strong>Total pagos realizados:</strong>
    $ {{ monto_pagos }}
</p>

<p>
    <strong>Deuda actual:</strong>

    {% if deuda > 0 %}
        <span style="color:red;">
            $ {{ deuda }}
        </span>
    {% elif deuda < 0 %}
        <p>Saldo a favor: </p>
        <span style="color: blue;">$ {{ deuda | abs }}</span>
    {% else %}
        <span style="color:green;">
            Sin deuda
        </span>
    {% endif %}
</p>

<h3>Ventas realizadas</h3>

<div class="table-responsive">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo Pago</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>

            {% for venta in ventas %}

            <tr>

                <td>{{ venta.fecha }}</td>

                <td>{{ venta.tipo_pago }}</td>

                <td>$ {{ venta.total }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

<h3 class="mt-4">Pagos realizados</h3>

<div class="table-responsive">

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Fecha</th>
                <th>Monto</th>
            </tr>
        </thead>

        <tbody>

            {% for pago in pagos %}

            <tr>

                <td>{{ pago.fecha }}</td>

                <td>$ {{ pago.monto }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

<hr>

<a class="btn btn-primary btn-responsive" href="/pagos/crear">
    Registrar pago
</a>

<br><br>

<a class="btn btn-secondary btn-responsive" href="/clientes">
    Volver
</a>

{% endblock %}