{% extends "base.html" %}

{% block contenido %}

<h1>
    {% if cliente %}
        Editar cliente
    {% else %}
        Crear cliente
    {% endif %}
</h1>

<form method="POST">

    <input type="text" class="form-control" name="nombre"
           placeholder="Nombre"
           value="{{ cliente.nombre if cliente else '' }}" required>

    <br>

    <input type="text" class="form-control" name="telefono"
           placeholder="Teléfono"
           value="{{ cliente.telefono if cliente else '' }}">

    <hr>

    <button type="submit" class="btn btn-primary">
        {% if cliente %}
            Actualizar
        {% else %}
            Guardar
        {% endif %}
    </button>

</form>

<br>

<a class="btn btn-secondary" href="/clientes">Volver</a>

{% endblock %}