{% extends "base.html" %}

{% block contenido %}

<h1>Clientes</h1>

<a href="/clientes/crear">Nuevo cliente</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Acciones</th>
    </tr>

    {% for c in clientes %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.telefono }}</td>
        <td>
            <a href="/clientes/editar/{{ c.id }}">Editar</a>

            <form action="/clientes/eliminar/{{ c.id }}" method="POST" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>

            <a href="/clientes/{{ c.id }}">
                Ver detalle
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}