{% extends "base.html" %}

{% block contenido %}

<h1>Clientes</h1>

<a href="{{ url_for('cliente.crear') }}" class="btn btn-primary btn-responsive">Nuevo cliente</a>

<hr>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>

        {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.telefono }}</td>
            <td>
                <div class="d-flex gap-2 flex-wrap">
                    <a href="/clientes/editar/{{ c.id }}" class="btn btn-warning btn-responsive btn-acciones">Editar</a>

                    <form action="/clientes/eliminar/{{ c.id }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-responsive btn-acciones">Eliminar</button>
                    </form>

                    <a href="/clientes/{{ c.id }}" class="btn btn-primary btn-responsive btn-acciones">
                        Ver detalle
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<a class="btn btn-secondary btn-responsive" href="/">Volver</a>

{% endblock %}